
<h1>Make a new song Motherf****r</h1>

<form method="post" action="/songs" >
  <label for="name">Name:</label>
    <input id="name" type="text" name="song[name]">

  <label for="artist">Artist:</label>
    <input id="artist" type="text" name="song[artist]">



<input type="submit" />
</form>
